.div {
    background-color: #373737;
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 15px auto auto auto;
}

.icone {
    width: 30px;
    height: 30px;
    margin: 50px 20px auto auto;
}

.image {
    width: 150px;
    background-color: white;
}

.flex {
    display: flex;
}

.desc {
    margin: auto 15px;
}