.div {
    background-color: #373737;
    width: 250px;
    height: 250px;
    margin: 15px auto auto auto;
    border-radius: 20px;
    cursor: pointer;
}
.imagem {
    margin-top: 15px;
    width: 210px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
}

.desc {
    margin: 15px 20px
}
.nome {
    margin-bottom: 10px;
}

.modal {
    min-width: 200px;
    width: 30%;
    background-color: #363636;
    display: none;
    position: absolute;
    top: 120px;
    margin: auto;
    border-radius: 20px;
}

.imagemModal {
    margin: 15px;
    width: 80%;
    min-height: 150px;
    background-color: white;
    border-radius: 15px;
}

.span {
    position: absolute;
    font-size: 20pt;
    padding-top: 2px;
    right: -30px;
    top: -30px;
    background-color: rgb(185, 11, 11);
    width: 35px;
    text-align: center;
    margin: auto;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
}