.double {
    margin-left: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.inverted {
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.invertedDouble {
    transform: rotate(180deg);
    margin-left: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.div {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.number {
    margin: auto 10px;
    font-size: 15pt;
}