figure {
    width: 225px;
    margin-bottom: 20px;
    cursor: pointer;
}

figure img {
    width: 225px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}

figure h2 {
    margin: 7px auto auto 7px;
    font-size: 13pt;
}

.modal {
    top: 100px;
    width: 60%;
    position: absolute;
    background-color: #363636;
    border-radius: 20px;
    display: none;
}
.modal img {
    width: 40%;
    border-radius: 20px;
    margin: 10px;
}
.modal span {
    position: absolute;
    font-size: 20pt;
    padding-top: 2px;
    right: -30px;
    top: -30px;
    background-color: rgb(185, 11, 11);
    width: 35px;
    text-align: center;
    margin: auto;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
}
.modal h2 {
    font-weight: normal;
}


.modal #desc {
    margin: 15px 10px;
}
.modal #desc h1 {
    margin-bottom:10px;
}
.modal #desc h2{
    margin-bottom: 25px;
}
.modal #desc p {
    margin-bottom: 25px;
}
