ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 70px;
    background-color: #1a1a1a;
}

li {
    margin: auto;
}

a {
    color: var(--primaria);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}